
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;



    .center {
        font-size: 25px;
        font-weight: 700;
    }



    .left {
            .lightIcon {
                color: white;   
            }
    }

}