/* Lavet af fælles */

.toolbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .left {
        display: flex;
        gap: 15px;

        button {
            border-bottom: 2px solid var(--background-color);
            color: var(--text-grey);
        }

        .active {
            border-bottom: 2px solid var(--action);
            color: var(--text-color);
        }
    }

    .right {
        display: flex;
    }
}
