@use "../../responsive.scss";

/* Lavet af fælles */

.admin {
    position: relative;
    z-index: 40;

    .admin-open {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 600;

        @include responsive.mini-tablet {
            font-size: 15px;
        }
    }

    .admin-content {
        display: flex;
        flex-direction: column;
        width: 220px;
        padding: 15px;
        background-color: var(--background-color);
        border: 2px solid var(--foreground-color);
        border-radius: var(--br);
        position: absolute;
        right: 0px;
        top: 40px;

        @include responsive.large-mobile {
            right: 0px;
        }
    }
}
