.filter {
    position: relative;

    .filter-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        gap: 30px;
        background-color: var(--background-color);
        border: 2px solid var(--foreground-color);
        border-radius: var(--br);
        position: absolute;
        right: 0;
        top: 30px;

        .sortby{
            display: flex;
            gap: 15px;
        }
        .priority{
            display: flex;
            gap: 15px;
        }
        .category{
            display: flex;
            gap: 15px;

            button {
                display: flex;
                gap: 5px;
            }
        }
    }
}