@use '../../responsive.scss';

.create-task {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    z-index: 3;
    position: relative;


    .create-btn {
        box-shadow: var(--action-hover) 0px 0px 6px 1px;
        
    }


    .create-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--overlay);

        form {
            border-radius: var(--br-container);
            background-color: var(--background-color);
            border: 3px solid var(--foreground-color);
            height: auto;
            width: 90%;
            max-width: 600px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            position: relative;

            button {
                margin-top: 30px;
            }

            .create-close {
                position: absolute;
                right: 10px;
                top: -10px;
            }

            .create-item {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                position: relative;

                .deadline {
                    display: flex;
                    gap: 30px;

                }

                .indicator {
                    position: absolute;
                    right: 5px;
                    bottom: -20px;
                    color: var(--text-grey);
                }

                .create-radio-content {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 5px;

                    .create-radio-item {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;


                        label {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}