@use "../../responsive.scss";

/* Lavet af Xenia Andersen */

.footer {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;

    @include responsive.tablet {
        display: flex;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-grey);
    }
}
