.task {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;

    


    .task-card {
        background-color: var(--task-blue);
        height: 100px;
        width: 70%;
        padding: 10px 20px;
        flex: 3;
    }

    .task-action {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        flex: 1;

        span {
            cursor: pointer;
        }
    }


    
}