
@use '../../responsive.scss';


.completed-tasks {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
    @include responsive.large-mobile {
        flex-wrap: wrap;
        flex-direction: row;
    }


    @include responsive.tablet {
        padding: 50px;
    }
}


