@use './variables.scss' as variables;
@use './responsive.scss' as responsive;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
     overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Comic Neue", cursive;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: var(--background-color);
  max-width: 800px;
}

main {
  margin: 140px 0 80px 0;
  max-width: 800px;
  width: 100%;
  overflow: hidden;

  @include responsive.large-mobile {
    margin-top: 140px;
  }
}

section {
  max-width: 800px;
  position: fixed;
  width: 100%;
  bottom: 15px;
  z-index: 2;

  @include responsive.tablet {
    top: 60px;
    height: 70px;
    width: 200px;
  }
}

footer {
  max-width: 800px;
  width: 100%;
}

span, p {
  color: var(--text-color);

  
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inp, select {
  padding: 10px 15px;
  border: 3px solid var(--foreground-color);
  border-radius: var(--br);
  font-size: 15px;
  color: var(--text-color);
}

.btn {
  background-color: var(--action);
  border-radius: var(--br);
  color: var(--background-color);
  transition: all 600ms;

  padding: 7px 17px;
  font-size: 17px;
  font-weight: 700;

  @include responsive.tablet {
    font-size: 20px;
  }
}

.btn:hover {
  background-color: var(--action-hover);
  transition: all 600ms;
}

.btn-light {
  transition: all 600ms;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
}

.btn-filter {
  background-color: var(--foreground-color);
  border-radius: var(--br);
  padding: 7px 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;


  
}

button {
  color: var(--text-color);
}
