@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



a {
    text-decoration: none;
    color: inherit;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

select {
    background-color: transparent;
    outline: none;
}

input[type="date"] {
    font-family: "Comic Neue", cursive;
    color: var(--text-color);
}

input[type="radio"] {
    transform: scale(1.8);
    margin-right: 0px;
}

input[type="radio"] {
    accent-color: #401c50;

}


select {
    font-family: "Comic Neue", cursive;
    color: var(--text-color);
}


button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}