:root {
    --background-color: #FAF7F5;
    --foreground-color: #e7e2df;
    --text-color: #171717;
    --text-grey: #adadad;
    --action: #A235D9;
    --action-hover: #8c31b9;
    --border-radius-sp-right: 15px 0 0 15px;
    --border-radius-sp-left: 0 15px 15px 0;
    --br: 7px;
    --br-container: 10px;
    
    --overlay: #faf7f5ed;
  }
  
  [data-theme="dark"] {
    --background-color: #171717;
    --foreground-color: #232323;
    --text-color: #FAF7F5;
    --text-grey: #757575;
    --action: #A235D9;
    --overlay: #171717f2;
  }