/* Lavet af fælles */

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    hr {
        border: 2px solid var(--foreground-color);
        height: 0;
        border-radius: 2px;
    }

    .profile-top {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 800;

        .profile-img {
            width: 40px;
            height: 40px;
            border: 2px solid var(--foreground-color);
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .profile-main {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .profile-bottom {
        padding-left: 7px;

        button {
            color: var(--text-color);
            transition: all 300ms;

            &:hover {
                color: var(--text-grey);
                transition: all 300ms;
            }
        }
    }

    .confirm {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;

        .confirm-content {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 15px;
        }

        .confirn-btns {
            display: flex;
            gap: 15px;
        }
    }
}
